*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'rockwell';
    font-size: 20px;
    font-style: normal;
}
.bg{
    width: 100vw;
    height: 100vh;
    background: rgba(2, 17, 68, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.container{
    width: 350px;
}

.form input ,
.form button{
    display: block;
    width: 100%;
    margin: 5px;
    
}
.form input{
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    color: white;
    text-align: center;
} 

 .form button{
    cursor: pointer;
    border:none;
    border-radius: 80px;
    background:rgb(255, 255, 255);
    padding: 8px 0;
    color: black;

}
.quizbg{
    width: 100vw;
    height: 100vh;
    background: rgba(2, 17, 68, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;
   
}

/* quiz.html */
.quiz_container{
    width: 60vw;
    height: 40vw;
    display: grid;
    grid-template-rows: 70px auto;
    border: 1px solid black;
    
 
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
    padding: 0 20px;
    border-bottom: 1px solid black;
}
.body{
    background: rgba(130, 136, 153, 0.45);
    padding: 30px 20px;
   
}
.option_group li{
    width: 50%;
    list-style: none;
    margin-top: 20px;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 80px;
    border: 3px solid transparent;
    cursor: pointer;
}
.option:hover{
    border: 3px solid rgb(66, 9, 119);
    color: black;
}
.btn-next{
    cursor: pointer;
    border:none;
    border-radius: 80px;
    background-color: blueviolet;
    padding: 10px 60px;
    color: white;
    margin-top: 20px;
}
.btn-next:hover{
background-color: #ffff;
color: black;
}
#mcq_number{
    position: absolute;
    width: 59.8%;
    height: 7.6%;
    left: 20.1%;
    border:none;
    background-color: #fff;
    margin-top: 30px;
    padding: 10px 30px;
}
.active{
    background-color:blueviolet !important ;
    color: #ffff;
  }
   /* end.html */
  .crown_icon {
      color: #fff;
    font-size: 200px;
  }
  
  .username,
  .userpoints{
    color: #fff;
    text-align: center;
    margin-top: 15px;
  }